.orange-btn{
    background-color: #f95c39;
    border-color: #f95c39;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 20px;
}

.orange-btn:hover{
  background-color: #d3411b;
  border-color: #d3411b;
}